@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;900&family=Ephesis&family=Style+Script&display=swap');

body{
    background-color: black;
    color: wheat;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: grey;
}
.navbar_left{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-items: center;
}
.navbar_contact{
    padding: 10px;
}
.navbar_about{
    padding: 10px;
}
.navbar_others{
    padding: 10px;
}
.pic
{   

    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    position: absolute;
    right:0;
    ;



}

.para{
    padding-left: 10%;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 20px;
}
.heading{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: large;
}

.insta-logo
{
    
    height: 50px;
    width: 50px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    float: right;
    


}

.img-pad{
    display: flex;
    flex-direction: row;
    padding:2%
}